{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Administración - Comunas</h1>

<br><br>

{% if commune_delete_name %}
<div class="alert alert-success" role="alert">
    Se ha eliminado el registro <strong>{{commune_delete_name}}</strong> correctamente.
</div>
{% endif %}

<!-- DataTales Example -->
<div class="row">
   <div class="col-lg-12">
      <div class="card shadow mb-4">
         <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de comunas</h6>
         </div>
         <div class="card-body">
            <div class="table-responsive">
               <table class="table" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Comuna</th>
                           <th>Provincia</th>
                           <th>Región</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tfoot>
                        <tr>
                           <th>#</th>
                           <th>Comuna</th>
                           <th>Provincia</th>
                           <th>Región</th>
                           <th></th>
                        </tr>
                     </tfoot>
                     <tbody>
                        {% for commune in communes %}
                        <tr>
                           <td>{{ loop.index }}</td>
                           <td>{{ commune.name }}</td>
                           <td>{{ commune.provinces }}</td>
                           <td>{{ commune.provinces.regions }}</td>
                           <td class="text-right">
                              <a href="{{ url_for('admin.communes_edit', id = commune.id) }}" class="btn btn-info btn-circle btn-sm">
                                 <i class="fas fa-edit"></i>
                              </a>
                           </td>
                        </tr>

                        <!-- Communes Modal-->
                        <div class="modal fade" id="eliminarComunaModal_{{commune.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                           aria-hidden="true">
                           <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">×</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                 ¿Seguro(a) que quiere eliminar este registro?<br><br>
                                 {{commune.name}}
                                 </div>
                                 <div class="modal-footer">
                                    <form action="{{ url_for('admin.communes_delete', id = commune.id) }}" method="POST">
                                       <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                       <button class="btn btn-primary">Confirmar</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}