{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Administración - Tipos de Conexión</h1>
<p class="mb-4"><a href="{{ url_for('admin.connection_types') }}">Tipos de Conexión</a></p>

<a href="{{ url_for('admin.connection_types_register') }}" class="btn btn-primary btn-icon-split btn-sm">
   <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
   </span>
   <span class="text">Nuevo Tipo de Conexión</span>
</a>

<br><br>

<!-- DataTales Example -->
<div class="row">
   <div class="col-lg-12">
      <div class="card shadow mb-4">
         <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Tipos de Conexión</h6>
         </div>
         <div class="card-body">
            <div class="table-responsive">
               <table class="table" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Nombre</th>
                        </tr>
                     </thead>
                     <tfoot>
                        <tr>
                           <th>#</th>
                           <th>Nombre</th>
                        </tr>
                     </tfoot>
                     <tbody>
                        {% for connection_type in connection_types %}
                        <tr>
                           <td>{{ loop.index }}</td>
                           <td>{{ connection_type.name }}</td>

                        </tr>
                        {% endfor %}
                     </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}