{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Administración - Establecimientos</h1>
<p class="mb-4">
   <a href="{{ url_for('admin.institutions') }}">Establecimientos</a>
</p>

<div class="card mb-4 border-left-info">
    <div class="card-body">
        <div class="row">
            <div class="my-0">

                <a href="{{ url_for('admin.institutions_register') }}" class="btn btn-warning btn-icon-split btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Nuevo</span>
                </a>

                <a href="{{ url_for ('admin.institutions_import') }}" class="btn btn-warning btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                        <i class="fas fa-file-import"></i>
                    </span>
                    <span class="text">Importar</span>
                </a>

                <a href="{{ url_for ('admin.local_contacts') }}" class="btn btn-warning  btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="text">Contactos locales</span>
                </a>

            </div>
        </div>
    </div>
</div>

{% if institution_delete_name %}
<div class="alert alert-success" role="alert">
    Se ha eliminado el registro <strong>{{institution_delete_name}}</strong> correctamente.
</div>
{% endif %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Comuna</th>
                        <th>Cliente</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Comuna</th>
                        <th>Cliente</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for institution in institutions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ institution.name }}</td>
                        <td>{{ institution.address }}</td>
                        <td>{{ institution.commune }}</td>
                        <td>{{ institution.client }}</td>
                        <td class="text-right">
                            <a href="{{ url_for('admin.institutions_edit', id = institution.id) }}" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-circle btn-sm" data-target="#eliminarEstablecimientoModal_{{institution.id}}" data-toggle="modal">
                            <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Communes Modal-->
                     <div class="modal fade" id="eliminarEstablecimientoModal_{{institution.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                              ¿Seguro(a) que quiere eliminar este registro?<br><br>
                              {{institution.name}}
                              </div>
                              <div class="modal-footer">
                                 <form action="{{ url_for('admin.institution_delete', id = institution.id) }}" method="POST">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-primary">Confirmar</button>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}