{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">Administración - Establecimientos</h1>
<p class="mb-4">
   <a href="{{ url_for('admin.institutions') }}">Establecimientos</a> / 
   <a href="#"> Editar</a>
</p>

{% if success_msg %}
<div class="alert alert-success" role="alert">
   {{ success_msg }}
   {% set success_msg = "" %}
   
</div>
{% endif %}

<div class="card o-hidden border-0 shadow-lg my-5">
   <div class="card-body p-0">
      <div class="row">
         <div class="col-lg-2 d-none d-lg-block"></div>
         <div class="col-lg-7">
            <div class="p-5">
               <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Edición de establecimiento</h1>
               </div>
               <form class="user text-left" action="{{ url_for('admin.institutions_edit', id=id) }}" method="POST">
                  {{ form.hidden_tag() }}
                  
                  <div class="form-group row">
                     <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="name" class="col-form-label col-sm-6">Nombre</label>
                        {{ render_field(form.name, class="form-control form-control-user", placeholder="Nombre") }}
                     </div>
                     <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="name" class="col-form-label col-sm-6">Dirección</label>
                        {{ render_field(form.address, class="form-control form-control-user", placeholder="Dirección") }}
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="name" class="col-form-label col-sm-6">Comuna</label>
                        {{ render_field(form.commune, class="form-control form-control-user", placeholder="Comuna") }}
                     </div>
                     <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="name" class="col-form-label col-sm-6">Cliente</label>
                        {{ render_field(form.client, class="form-control form-control-user", disabled="disabled") }}
                     </div>
                  </div>
                  {{ render_field(form.submit, class="btn btn-success btn-user btn-block") }}
               </form>
            </div>
         </div>
         <div class="col-lg-2 d-none d-lg-block"></div>
      </div>
   </div>
</div>

{% endblock %}