{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

{% if msg %}
<div class="alert alert-success" role="alert">
   Los cambios se han guardado exitosamente
</div>
{% endif %}

{% if msg_code_exist %}
<div class="alert alert-danger" role="alert">
   El código de servicio ya existe.
</div>
{% endif %}

<h1 class="h3 mb-2 text-gray-800">Administración - Enlaces</h1>
<p class="mb-4">
   <a href="{{ url_for('admin.links') }}">Enlaces</a> / 
   <a href="#"> Editar</a>
</p>

<div class="card o-hidden border-0 shadow-lg my-5">
   <div class="card-body p-0">
      <div class="row">
         <div class="col-lg-2 d-none d-lg-block"></div>
         <div class="col-lg-7">
            <div class="p-5">
               <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Nuevo Enlace</h1>
               </div>
               <form class="user text-center" action="{{ url_for('admin.links_register', client_id=client_id) }}" method="POST">
                  {{ form.hidden_tag() }}
                  <div class="form-group row">
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for="institution">Cliente</label>
                        {{ render_field(form.clients, class="form-control form-control-user", id="form_link_register_client_id") }}
                     </div>
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for="institution">Establecimiento</label>
                        {{ render_field(form.institution, class="form-control form-control-user", id="institution") }}
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for='service_code'>Código de servicio</label>
                        {{ render_field(form.service_code, class="form-control form-control-user", placeholder="Código de Servicio", id="service_code") }}
                     </div>
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for='direction'>Dirección</label>
                        {{ render_field(form.ip_direction, class="form-control form-control-user", maxlength="15", placeholder="Dirección IP", id="direction") }}
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for="link_type">Tipo de enlace</label>
                        {{ render_field(form.link_type, class="form-control form-control-user", id="link_type") }}
                     </div>
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for="link_type">Tipo de conexión</label>
                        {{ render_field(form.connection_type, class="form-control form-control-user") }}
                     </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block">Registrar Enlace</button>
               </form>
            </div>
         </div>
         <div class="col-lg-2 d-none d-lg-block"></div>
      </div>
   </div>
</div>

{% endblock %}

{% block script %}
    {% include "admin_scripts.html" %}
{% endblock %}