{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">Administración - Usuarios</h1>
<p class="mb-4">
   <a href="{{ url_for('admin.users') }}">Usuarios</a> / 
   <a href="{{ url_for('admin.user_edit', id = id) }}"> Editar</a> /
   <a href="#"> Contraseña</a>
</p>

{% if error_msg %}
<div class="alert alert-danger" role="alert">
   Ya existe una campaña con el mismo nombre.
</div>
{% endif %}

<div class="card o-hidden border-0 shadow-lg my-5">
   <div class="card-body p-0">
      <div class="row">
         <div class="col-lg-2 d-none d-lg-block"></div>
         <div class="col-lg-7">
            <div class="p-5">
               <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Editar usuario</h1>
               </div>

               <br><br>

               <!-- formulario edición -->
               <form class="user text-center" action="{{ url_for('admin.user_edit_password_post') }}" method="POST">
                  {{ form.hidden_tag() }}

                  {{ render_field(form.user_id) }}

                  <div class="form-group row">
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for='period_campaign'>Contraseña: </label>
                        {{ render_field(form.password, class="form-control form-control-user") }}
                     </div>
                     <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                        <label for='period_campaign'>Repetir contraseña: </label>
                        {{ render_field(form.repeat_password, class="form-control form-control-user") }}
                     </div>
                  </div>

                  <button class="btn btn-success btn-user btn-block">Cambiar contraseña</button>

               </form>
            </div>
         </div>
         <div class="col-lg-2 d-none d-lg-block"></div>
      </div>
   </div>
</div>

{% endblock %}