{% extends "layout.html" %}

{% block topbar %}
{% include "topbar.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Administración - Usuarios</h1>
<p class="mb-4"><a href="{{ url_for('admin.users') }}">Usuarios</a></p>

<a href="{{ url_for('admin.users_register') }}" class="btn btn-primary btn-icon-split btn-sm">
   <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
   </span>
   <span class="text">Nuevo usuario</span>
</a>

<br><br>

<!-- DataTales Example -->
<div class="row">
   <div class="col-lg-12">
      <div class="card shadow mb-4">
         <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de usuarios</h6>
         </div>
         <div class="card-body">
            <div class="table-responsive">
               <table class="table" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Nombre</th>
                           <th>Apellido</th>
                           <th>Nombre usuario</th>
                           <th>Correo</th>
                           <th>Categoría</th>
                           <th>Admin</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tfoot>
                        <tr>
                           <th>#</th>
                           <th>Nombre</th>
                           <th>Apellido</th>
                           <th>Nombre usuario</th>
                           <th>Correo</th>
                           <th>Categoría</th>
                           <th>Admin</th>
                           <th></th>
                        </tr>
                     </tfoot>
                     <tbody>
                        {% for user in users %}
                        <tr>
                           <td>{{ loop.index }}</td>
                           <td><a href="{{ url_for('admin.user_edit', id = user.id) }}">{{ user.name }}</a></td>
                           <td>{{ user.lastname }}</td>
                           <td>{{ user.username }}</td>
                           <td>{{ user.email }}</td>
                           {% if user.category is not none %}
                           <td>{{ user.category }}</td>
                           {% else %}
                           <td></td>
                           {% endif %}
                           <td>{{ user.is_admin }}</td>
                           <td class="text-right">
                              <a href="{{ url_for('admin.user_edit', id = user.id) }}" class="btn btn-info btn-circle btn-sm">
                                 <i class="fas fa-edit"></i>
                              </a>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}