<h2 style='background-color:#4e73df; color:white; padding-left:15px; padding-top:5px; padding-bottom:5px;'>Prueba de Respaldo - {{client_name}}</h2>

<pre style="font-family:Times New Roman; font-size:16px;">
Se le informa que hemos programado una prueba de respaldo en {{institution_name}} ubicado en {{institution_address}} para el {{date_coord}} en el horario acordado {{time_coord}}. Ese día contactaremos a {{local_contact_name}} en los números {{local_contact_phone}}.
La actividad consiste en verificar la conmutación al enlace de respaldo en caso de una falla real. Un ingeniero, en contacto con usted, en forma remota desconectará el enlace principal quedando las comunicaciones del establecimiento por el enlace de respaldo, en este momento usted debe revisar la operación de sus servicios.
La duración de los trabajos no debería extenderse por más de 20 minutos.
En caso de alguna consulta sugerimos dirigir un correo a <a href="mailto:falvarez@entel.cl">falvarez@entel.cl</a>.

Atentamente,
</pre>

<table>
   <tr>
      <td>
         <img width="50" height="50" src="https://static.wikia.nocookie.net/logopedia/images/3/30/Entel_Chile_icon_2018.svg/revision/latest/scale-to-width-down/150?cb=20210410225431&path-prefix=es" alt="logo_entel">
      </td>
      <td style='padding-left:5px'>
         <div style="color:red">VP Tecnología y Operaciones</div>
         <div style="color:blue">Gerencia O&M Grandes Clientes</div>
      </td>
   </tr>
</table>