<h2 style="background-color:#4e73df; color:white; padding-left:15px; padding-top:5px; padding-bottom:5px;">Prueba de Respaldo GGC</h2>

<pre style="font-family:Times New Roman; font-size:16px;">
Hoy {{str_today}} se tienen coordinadas pruebas de respaldo para los establecimientos de lista adjunta.

</pre>

<table border="1">
   <thead>
      <tr>
         <th>Cliente</th>
         <th>Establecimiento</th>
         <th>Dirección</th>
         <th>Comuna</th>
         <th>Hora de coordinación</th>
      </tr>
   </thead>
   <tbody>
      {% for institution in institutions %}
      <tr>
         <td>{{ institution.client.name }}</td>
         <td>{{ institution.name }}</td>
         <td>{{ institution.address }}</td>
         <td>{{ institution.commune.name }}</td>
         <td>{{ institution.time_coord.strftime('%H:%M') }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>

<pre style="font-family:Times New Roman; font-size:16px;">
Atentamente,

</pre>

<table>
   <tr>
      <td>
         <img width="50" height="50" src="https://static.wikia.nocookie.net/logopedia/images/3/30/Entel_Chile_icon_2018.svg/revision/latest/scale-to-width-down/150?cb=20210410225431&path-prefix=es" alt="logo_entel">
      </td>
      <td style='padding-left:5px'>
         <div style="color:red">VP Tecnología y Operaciones</div>
         <div style="color:blue">Gerencia O&M Grandes Clientes</div>
      </td>
   </tr>
</table>